

img {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.img {
  min-width: 300px;
  margin: auto;
  border: 2px solid black;
}

.section--a {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translate(1.2px, 131.7px);
  z-index: 5;
}
.section--b {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translate(-1.5px, 89.5px);
  z-index: 4;
}
.section--c {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translate(-8px, 63px);
  z-index: 3;
}
.section--d {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translate(0, 40.7px);
  z-index: 2;
}
.section--e {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translate(0px, 10px);
  z-index: 1;
}

.img:hover .section--a {
  transform: translate(-40.5px, 126px);
}
.img:hover .section--b {
  transform: translate(30px, 68px);
}
.img:hover .section--c {
  transform: translate(-60px, 45px);
}
.img:hover .section--d {
  transform: translate(60px, 20px);
}
.img:hover .section--e {
  transform: translate(-80px, 0px);
}


@media screen and (min-width: 414px) and (max-width: 766px) {
  .section--a {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(1px, 148px);
    z-index: 5;
  }
  .section--b {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(-2.2px, 101.3px);
    z-index: 4;
  }
  .section--c {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(-9px, 72.3px);
    z-index: 3;
  }
  .section--d {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(0, 48.8px);
    z-index: 2;
  }
  .section--e {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(0px, 15px);
    z-index: 1;
  }

  .img:hover .section--a {
    transform: translate(-40.5px, 126px);
    z-index: 5;
  }
  .img:hover .section--b {
    transform: translate(30px, 68px);
    z-index: 4;
  }
  .img:hover .section--c {
    transform: translate(-60px, 45px);
    z-index: 3;
  }
  .img:hover .section--d {
    transform: translate(60px, 20px);
    z-index: 2;
  }
  .img:hover .section--e {
    transform: translate(-80px, 0px);
    z-index: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container--btn {
    width: auto;
    margin: 50px auto;
    position: absolute;
    top: 550px;
    right: 20px;
  }

  .headline--main {
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 124px;
    font-weight: 700;
    letter-spacing: 10px;
    opacity: 0.2;
    margin: 0 auto;
  }
  .headline--sub {
    text-align: left;
    font-weight: 800;
    margin-bottom: 40px;
    position: relative;
  }
  .headline--sub::before, .headline--sub::after {
    content: "";
    width: 35%;
    height: 4%;
    position: absolute;
  }
  .headline--sub::after {
    background-color: #ececec;
    bottom: 0;
    left: 12px;
  }

  .section--a {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(2px, 258.2px);
    z-index: 5;
  }
  .section--b {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(-3.8px, 171.3px);
    z-index: 4;
  }
  .section--c {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(-17px, 117px);
    z-index: 3;
  }
  .section--d {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(0, 72.8px);
    z-index: 2;
  }
  .section--e {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(0px, 10px);
    z-index: 1;
  }

  .img:hover .section--a {
    transform: translate(-60.5px, 126px);
    z-index: 5;
  }
  .img:hover .section--b {
    transform: translate(40px, 68px);
    z-index: 4;
  }
  .img:hover .section--c {
    transform: translate(-70px, 45px);
    z-index: 3;
  }
  .img:hover .section--d {
    transform: translate(80px, 20px);
    z-index: 2;
  }
  .img:hover .section--e {
    transform: translate(-80px, 0px);
    z-index: 1;
  }
}
@media screen and (min-width: 1025px) {
 

  .headline--main {
    font-size: 158px;
  }
  .headline--sub {
    margin-bottom: 40px;
    position: relative;
  }

  .container--hero {
    max-width: 1400px;
  }
  .container--text {
    width: 350px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
  .container--btn {
    width: auto;
    margin: auto;
    position: absolute;
    bottom: 150px;
    left: 20px;
  }

  .img {
    width: 600px;
    margin: auto;
    border: 2px solid black;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
  }

  .btn {
    padding: 10px 20px;
    font-size: 21px;
  }

  .section--a {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(1.5px, 204.8px);
    z-index: 5;
  }
  .section--b {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(-3px, 136.5px);
    z-index: 4;
  }
  .section--c {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(-13px, 94px);
    z-index: 3;
  }
  .section--d {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(0, 59px);
    z-index: 2;
  }
  .section--e {
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translate(0px, 10px);
    z-index: 1;
  }
}